@model myDemoGuestbookWeb.Models.GuestBookEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GuestBookEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
